*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo3.jpg");
    background-size: cover;
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 30px;
    
    text-align: justify;
    
    color: rgb(16, 15, 15);
    
     
    
    }

    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("./fondo3.jpg");
        
        }
        
        
        
        .textoesociales{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 50px;
        
        
        
        }

        .imagentecnologia{
            background-repeat: no-repeat;
            
            background-image: url("./WhatsApp\ Image\ 2023-08-02\ at\ 9.40.06\ AM.jpeg");
        }
        

        .imgsocia3{
        
         
        
            background-repeat: no-repeat;
            
            float:left;
            
            height: 3500px;
            
            width: 2000px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("infografia1.jpg");
            
              }.imgsocia31{
        
         
        
                background-repeat: no-repeat;
                
                float:left;
                
                height: 3500px;
                
                width: 2000px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("Infografía3.jpg");
                
              }
              
              
              .imgsocia32{
    
                
        
         
        
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 3500px;
                    
                    width: 2000px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("infografia2.jpg");
                    
                    }
    

                    .img1{

                      background-repeat: no-repeat;
                    
                      float:left;
                      
                      height: 214px;
                      
                      width: 2000px;
                      
                      margin-left: 5px;
                      
                      margin-right:5px;
                      
                      background-image: url("img1.jpg");
                    }
                    .img2{

                      background-repeat: no-repeat;
                    
                      float:left;
                      
                      height: 214px;
                      
                      width: 2000px;
                      
                      margin-left: 5px;
                      
                      margin-right:5px;
                      
                      background-image: url("img2.png");
                    }
                    .img3{

                      background-repeat: no-repeat;
                    
                      float:left;
                      
                      height: 214px;
                      
                      width: 2000px;
                      
                      margin-left: 5px;
                      
                      margin-right:5px;
                      
                      background-image: url("img3.png");
                    }
                    .img4{

                      background-repeat: no-repeat;
                    
                      float:left;
                      
                      height: 214px;
                      
                      width: 2000px;
                      
                      margin-left: 5px;
                      
                      margin-right:5px;
                      
                      background-image: url("img4.png");
                    }
                    .img5{

                      background-repeat: no-repeat;
                    
                      float:left;
                      
                      height: 214px;
                      
                      width: 2000px;
                      
                      margin-left: 5px;
                      
                      margin-right:5px;
                      
                      background-image: url("img5.png");
                    }
                    .img6{

                      background-repeat: no-repeat;
                    
                      float:left;
                      
                      height: 214px;
                      
                      width: 2000px;
                      
                      margin-left: 5px;
                      
                      margin-right:5px;
                      
                      background-image: url("img6.png");
                    }
                    .img7{

                      background-repeat: no-repeat;
                    
                      float:left;
                      
                      height: 214px;
                      
                      width: 2000px;
                      
                      margin-left: 5px;
                      
                      margin-right:5px;
                      
                      background-image: url("img7.png");
                    }
                    .img8{

                      background-repeat: no-repeat;
                    
                      float:left;
                      
                      height: 214px;
                      
                      width: 2000px;
                      
                      margin-left: 5px;
                      
                      margin-right:5px;
                      
                      background-image: url("img8.png");
                    }
                   
                    
                   
                    

                    


      

