*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("fondo3.jpg");
    background-size: cover;
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }

    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 200px;
        
        width: 260px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("./fondo3.jpg");
        
        }
        
        
        
        .textoesociales{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 50px;
        
        
        
        }

        .imagentecnologia{
            background-repeat: no-repeat;
            
            background-image: url("./WhatsApp\ Image\ 2023-08-02\ at\ 9.40.06\ AM.jpeg");
        }
        

        .imgsocia3{
        
         
        
            background-repeat: no-repeat;
            
            float:left;
            
            height: 3500px;
            
            width: 2000px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("infografia1.jpg");
            
              }.imgsocia31{
        
         
        
                background-repeat: no-repeat;
                
                float:left;
                
                height: 3500px;
                
                width: 2000px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("Infografía3.jpg");
                
              }.imgsocia32{
    
                
        
         
        
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 3500px;
                    
                    width: 2000px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("infografia2.jpg");
                    
                    }
    
      }

